.wrapper {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px dashed var(--blue-theme-main-color);

    @media screen and (max-width: 768px) {
        padding: 15px;

        h2 {
            font-size: 24px;
            line-height: 1.2rem;
        }
        
    }


    h2{
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 1.5px;
        line-height: 1rem;
        text-transform: capitalize;
        color: var(--blue-theme-main-color);
        display: flex;
        flex-grow: 1;
    }

    span {
        svg{
            color: var(--blue-theme-main-color);
        }
    }
}